import { LitElement, html } from 'lit-element';
// import styles from './ComponentePruebas-styles.js';

/**
{{sentenceCase descriptionComponent}}

Example:

```html
<{{kebabCase nameComponent}}></{{kebabCase nameComponent}}>
```

##styling-doc

@customElement {{kebabCase nameComponent}}
@polymer
@LitElement
*/
export class {{pascalCase nameComponent}} extends LitElement {
  static get is() {
    //component-nombre
    return '{{kebabCase nameComponent}}';
  }

  // Declare properties
  static get properties() {
    return {
      name: { type: String, },
    };
  }

  // Initialize properties
  constructor() {
    super();
    this.text = 'Hello {{lowerCase nameComponent}}';
  }

  // Put the styles here
  static get styles() {
    return [
      styles
    ]
  }

  // Define a template
  render() {
    return html`
      <p>${this.text}</p>
    `;
  }
}
