import { html, fixture, assert, fixtureCleanup } from '@open-wc/testing';
import '../{{kebabCase nameComponent}}.js';

suite('<{{kebabCase nameComponent}}>', () => {
  let el;

  teardown(() => fixtureCleanup());

  setup(async () => {
    el = await fixture(html`<{{kebabCase nameComponent}}></{{kebabCase nameComponent}}>`);
    await el.updateComplete;
  });

  test('Should be have element instantiated with default properties', () => {
    const element = el.shadowRoot.querySelector('p');
    assert.equal(element.innerText, 'Hello {{lowerCase nameComponent}}');
  });
});
