<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="Description" content="{{sentenceCase descriptionApp}}">
    <base href="/">

    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: #ededed;
      }

    </style>
    <title>App {{sentenceCase nameApp}}</title>
  </head>

  <body>
    <app-{{kebabCase nameApp}}></app-{{kebabCase nameApp}}>

    <script type="module" src="./src/app-component.js"></script>
  </body>

</html>
